DATABASE_URL="postgresql://postgres:postgres@localhost:5432/uccenters?schema=public"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_SECRET="uc_centers_super_secret_jwt_key_32_chars_min"
NEXTAUTH_URL="http://localhost:3000"
S3_ENDPOINT="https://s3.amazonaws.com"
S3_BUCKET="uc-centers-media"
S3_ACCESS_KEY="minio_access_key"
S3_SECRET_KEY="minio_secret_key"
